/********** GLOBAL **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  text-decoration: none;
  line-height: 0;
	vertical-align: middle;
  padding: 14px 14px;
}

.btn.big {
  padding: 20px 20px;
}

.btn.blue {
  background-color: #0061ff;
  color: white;
}

.btn.white {
  background-color: white;
  color: black;
  border: solid 2px black;
}

/********** HEADER **********/

header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 70px;
  background-color: white;
  font-size: 14px;
}

.left-header {
  float: left;
}

.right-header {
  float: right;
}

/* layout menu */
header li {
  display: inline-block;
  margin: 0 12px;
}

header li a {
  display: inline-block;
  line-height: 70px;
  text-decoration: none;
  color: black;
}

header li a img {
  vertical-align: middle;
}

header li a:hover {
  border-bottom: 2px solid black;
}

/********** JUMBOTRON **********/

.jumbotron {
  height: 600px;
  margin-top: 70px;
  background-color: #b4d0e7;
}

h1 {
  font-size: 70px;
  padding-top: 80px;
  margin-bottom: 25px;
}

/* layout clearfix */ 
.text-jumbotron, .img-jumbotron {
  float: left;
}

.text-jumbotron {
  width: 30%;
  margin-right: 10%;
}

.img-jumbotron {
  width: 60%;
}

.img-jumbotron img {
  width: 100%;
}
.jumbotron i {
  color: black;
}
/* margin txt-jumbotron */
.jumbotron p, .jumbotron span{
  margin-bottom: 25px;
}

.jumbotron a {
  margin-bottom: 12px;
}